body {
    background-color: #eee;
}

p {
    max-width: 350px;
    background-color: #f00;
    margin: auto;
    text-align: center;
    position: fixed; /*Esta opcion sirve para mantener fijo un elemento, para un uso practico puede ser en un menu*/
    right: 15px;
    top: 0px;
    bottom: 0px;
}